.z-index-100 {
  z-index: 100;
}
.z-index-200 {
  z-index: 200;
}
.z-index-300 {
  z-index: 300;
}
.z-index-400 {
  z-index: 400;
}
.z-index-500 {
  z-index: 500;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.top-50 {
  top: 50%;
}
.right-50 {
  right: 50%;
}
.bottom-50 {
  bottom: 50%;
}
.left-50 {
  left: 50%;
}
.top-100 {
  top: 100%;
}
.right-100 {
  right: 100%;
}
.bottom-100 {
  bottom: 100%;
}
.left-100 {
  left: 100%;
}
